<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="shortcut icon" href="./img/logouwu.png" type="image/x-icon" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="app">
      <div v-if="showModal"> 
        <div class="modal-mask" >
            <div class="modal-wrapper card">
                <div class="modal-content">
                  <div>
                    <button type="button" class="btn btn-danger border border-1 modal-btn" @click="showModal=false">X</button>
                  </div>
                  <div class="d-flex flex-row-reverse bd-highlight" style="width: 400px;">
                    </div>
                    <div class="form-body col-10">
                      <h2 class="modal-title font-rick text-center" style="margin-top: -30px; margin-bottom: 30px;">Registro</h2>
                      <label for="name">Nombre(s)</label>
                      <input class="form-control mb-3" type="text" id="name" placeholder="Ingrese su nombre" v-model="modalName">
                      <label for="lastname">Apellido(s)</label>
                      <input class="form-control mb-3" type="text" id="lastname" placeholder="Ingrese su apellido" v-model="modalLastname">
                      <label for="username">Usuario</label>
                      <input class="form-control mb-3" type="text" id="username" placeholder="Ingrese su usuario" v-model="modalUsername">
                      <label for="model">Contraseña</label>
                      <input class="form-control mb-3" type="password" id="model" placeholder="Ingrese su contraseña" v-model="modalPassword">
                      <li v-show="errorReg" style="color:brown;">Llene todos los campos.</li>                      
                      <div class="text-center">
                        <input class="btn btn-primary" type="button" value="Envíar" style="margin-top: 10px;" @click.prevent="pushUser">
                      </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
      <div class="container">
        <div class="abs-center">
<section class="text-center text-lg-start">
  <div class="card mb-3" style="width: 60rem;">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-3 d-none d-lg-flex">
        <img src="./assets/img/rick-and-morty-login.jpg" alt="Rick and Morty"
          class="rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form style="margin-left: 10vh;">
            <h1 class="text-center font-rick" style="margin-bottom: 50px;">¡Bienvenido de nuevo!</h1>
            <div class="form-outline mb-4">
              <input type="email" id="form2Example1" class="form-control" v-model="userEntered"/>
              <label class="form-label" for="form2Example1">Nombre de usuario</label>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" v-model="passwordEntered"/>
              <label class="form-label" for="form2Example2">Contraseña</label>
            </div>
            <div class="row mb-4">
              <div class="col text-center">
                <p>¿No tienes una cuenta? <a href="" @click.prevent="showModal = true">Regístrate aquí.</a></p>
              </div>
            </div>
            <p v-show="error" style="color:brown;" class="text-center">Usuario y/o contraseña incorrectos.</p> 
            <button type="button" class="btn btn-primary btn-block mb-3 col-12" @click.prevent="verifyUser">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
    </div>
    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./main.js"></script>
  </body>
</html>